// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$bt-fermer-d-name: 'bt-fermer-d';
$bt-fermer-d-x: 272px;
$bt-fermer-d-y: 49px;
$bt-fermer-d-offset-x: -272px;
$bt-fermer-d-offset-y: -49px;
$bt-fermer-d-width: 35px;
$bt-fermer-d-height: 35px;
$bt-fermer-d-total-width: 337px;
$bt-fermer-d-total-height: 326px;
$bt-fermer-d-image: '~sprite.png';
$bt-fermer-d: (272px, 49px, -272px, -49px, 35px, 35px, 337px, 326px, '~sprite.png', 'bt-fermer-d', );
$ic-ambiance-d-name: 'ic_ambiance-d';
$ic-ambiance-d-x: 235px;
$ic-ambiance-d-y: 262px;
$ic-ambiance-d-offset-x: -235px;
$ic-ambiance-d-offset-y: -262px;
$ic-ambiance-d-width: 31px;
$ic-ambiance-d-height: 23px;
$ic-ambiance-d-total-width: 337px;
$ic-ambiance-d-total-height: 326px;
$ic-ambiance-d-image: '~sprite.png';
$ic-ambiance-d: (235px, 262px, -235px, -262px, 31px, 23px, 337px, 326px, '~sprite.png', 'ic_ambiance-d', );
$ic-cadeau-d-name: 'ic_cadeau-d';
$ic-cadeau-d-x: 117px;
$ic-cadeau-d-y: 132px;
$ic-cadeau-d-offset-x: -117px;
$ic-cadeau-d-offset-y: -132px;
$ic-cadeau-d-width: 55px;
$ic-cadeau-d-height: 57px;
$ic-cadeau-d-total-width: 337px;
$ic-cadeau-d-total-height: 326px;
$ic-cadeau-d-image: '~sprite.png';
$ic-cadeau-d: (117px, 132px, -117px, -132px, 55px, 57px, 337px, 326px, '~sprite.png', 'ic_cadeau-d', );
$ic-cadeau-m-name: 'ic_cadeau-m';
$ic-cadeau-m-x: 172px;
$ic-cadeau-m-y: 132px;
$ic-cadeau-m-offset-x: -172px;
$ic-cadeau-m-offset-y: -132px;
$ic-cadeau-m-width: 45px;
$ic-cadeau-m-height: 45px;
$ic-cadeau-m-total-width: 337px;
$ic-cadeau-m-total-height: 326px;
$ic-cadeau-m-image: '~sprite.png';
$ic-cadeau-m: (172px, 132px, -172px, -132px, 45px, 45px, 337px, 326px, '~sprite.png', 'ic_cadeau-m', );
$ic-colis-d-name: 'ic_colis-d';
$ic-colis-d-x: 307px;
$ic-colis-d-y: 123px;
$ic-colis-d-offset-x: -307px;
$ic-colis-d-offset-y: -123px;
$ic-colis-d-width: 28px;
$ic-colis-d-height: 30px;
$ic-colis-d-total-width: 337px;
$ic-colis-d-total-height: 326px;
$ic-colis-d-image: '~sprite.png';
$ic-colis-d: (307px, 123px, -307px, -123px, 28px, 30px, 337px, 326px, '~sprite.png', 'ic_colis-d', );
$ic-collection-d-name: 'ic_collection-d';
$ic-collection-d-x: 272px;
$ic-collection-d-y: 183px;
$ic-collection-d-offset-x: -272px;
$ic-collection-d-offset-y: -183px;
$ic-collection-d-width: 30px;
$ic-collection-d-height: 31px;
$ic-collection-d-total-width: 337px;
$ic-collection-d-total-height: 326px;
$ic-collection-d-image: '~sprite.png';
$ic-collection-d: (272px, 183px, -272px, -183px, 30px, 31px, 337px, 326px, '~sprite.png', 'ic_collection-d', );
$ic-connect-guest-d-name: 'ic_connect-guest-d';
$ic-connect-guest-d-x: 180px;
$ic-connect-guest-d-y: 84px;
$ic-connect-guest-d-offset-x: -180px;
$ic-connect-guest-d-offset-y: -84px;
$ic-connect-guest-d-width: 36px;
$ic-connect-guest-d-height: 36px;
$ic-connect-guest-d-total-width: 337px;
$ic-connect-guest-d-total-height: 326px;
$ic-connect-guest-d-image: '~sprite.png';
$ic-connect-guest-d: (180px, 84px, -180px, -84px, 36px, 36px, 337px, 326px, '~sprite.png', 'ic_connect-guest-d', );
$ic-conseils-d-name: 'ic_conseils-d';
$ic-conseils-d-x: 307px;
$ic-conseils-d-y: 208px;
$ic-conseils-d-offset-x: -307px;
$ic-conseils-d-offset-y: -208px;
$ic-conseils-d-width: 30px;
$ic-conseils-d-height: 23px;
$ic-conseils-d-total-width: 337px;
$ic-conseils-d-total-height: 326px;
$ic-conseils-d-image: '~sprite.png';
$ic-conseils-d: (307px, 208px, -307px, -208px, 30px, 23px, 337px, 326px, '~sprite.png', 'ic_conseils-d', );
$ic-dimension-d-name: 'ic_dimension-d';
$ic-dimension-d-x: 307px;
$ic-dimension-d-y: 31px;
$ic-dimension-d-offset-x: -307px;
$ic-dimension-d-offset-y: -31px;
$ic-dimension-d-width: 30px;
$ic-dimension-d-height: 31px;
$ic-dimension-d-total-width: 337px;
$ic-dimension-d-total-height: 326px;
$ic-dimension-d-image: '~sprite.png';
$ic-dimension-d: (307px, 31px, -307px, -31px, 30px, 31px, 337px, 326px, '~sprite.png', 'ic_dimension-d', );
$ic-ecoresponsable-d-name: 'ic_ecoresponsable-d';
$ic-ecoresponsable-d-x: 0px;
$ic-ecoresponsable-d-y: 297px;
$ic-ecoresponsable-d-offset-x: 0px;
$ic-ecoresponsable-d-offset-y: -297px;
$ic-ecoresponsable-d-width: 31px;
$ic-ecoresponsable-d-height: 29px;
$ic-ecoresponsable-d-total-width: 337px;
$ic-ecoresponsable-d-total-height: 326px;
$ic-ecoresponsable-d-image: '~sprite.png';
$ic-ecoresponsable-d: (0px, 297px, 0px, -297px, 31px, 29px, 337px, 326px, '~sprite.png', 'ic_ecoresponsable-d', );
$ic-ecoresponsable-m-name: 'ic_ecoresponsable-m';
$ic-ecoresponsable-m-x: 80px;
$ic-ecoresponsable-m-y: 84px;
$ic-ecoresponsable-m-offset-x: -80px;
$ic-ecoresponsable-m-offset-y: -84px;
$ic-ecoresponsable-m-width: 52px;
$ic-ecoresponsable-m-height: 48px;
$ic-ecoresponsable-m-total-width: 337px;
$ic-ecoresponsable-m-total-height: 326px;
$ic-ecoresponsable-m-image: '~sprite.png';
$ic-ecoresponsable-m: (80px, 84px, -80px, -84px, 52px, 48px, 337px, 326px, '~sprite.png', 'ic_ecoresponsable-m', );
$ic-edit-d-name: 'ic_edit-d';
$ic-edit-d-x: 120px;
$ic-edit-d-y: 39px;
$ic-edit-d-offset-x: -120px;
$ic-edit-d-offset-y: -39px;
$ic-edit-d-width: 22px;
$ic-edit-d-height: 22px;
$ic-edit-d-total-width: 337px;
$ic-edit-d-total-height: 326px;
$ic-edit-d-image: '~sprite.png';
$ic-edit-d: (120px, 39px, -120px, -39px, 22px, 22px, 337px, 326px, '~sprite.png', 'ic_edit-d', );
$ic-facebook-d-name: 'ic_facebook-d';
$ic-facebook-d-x: 217px;
$ic-facebook-d-y: 114px;
$ic-facebook-d-offset-x: -217px;
$ic-facebook-d-offset-y: -114px;
$ic-facebook-d-width: 50px;
$ic-facebook-d-height: 51px;
$ic-facebook-d-total-width: 337px;
$ic-facebook-d-total-height: 326px;
$ic-facebook-d-image: '~sprite.png';
$ic-facebook-d: (217px, 114px, -217px, -114px, 50px, 51px, 337px, 326px, '~sprite.png', 'ic_facebook-d', );
$ic-instagram-d-name: 'ic_instagram-d';
$ic-instagram-d-x: 0px;
$ic-instagram-d-y: 191px;
$ic-instagram-d-offset-x: 0px;
$ic-instagram-d-offset-y: -191px;
$ic-instagram-d-width: 50px;
$ic-instagram-d-height: 51px;
$ic-instagram-d-total-width: 337px;
$ic-instagram-d-total-height: 326px;
$ic-instagram-d-image: '~sprite.png';
$ic-instagram-d: (0px, 191px, 0px, -191px, 50px, 51px, 337px, 326px, '~sprite.png', 'ic_instagram-d', );
$ic-livraison-48h-d-name: 'ic_livraison_48h-d';
$ic-livraison-48h-d-x: 196px;
$ic-livraison-48h-d-y: 262px;
$ic-livraison-48h-d-offset-x: -196px;
$ic-livraison-48h-d-offset-y: -262px;
$ic-livraison-48h-d-width: 39px;
$ic-livraison-48h-d-height: 24px;
$ic-livraison-48h-d-total-width: 337px;
$ic-livraison-48h-d-total-height: 326px;
$ic-livraison-48h-d-image: '~sprite.png';
$ic-livraison-48h-d: (196px, 262px, -196px, -262px, 39px, 24px, 337px, 326px, '~sprite.png', 'ic_livraison_48h-d', );
$ic-livraison-etage-d-name: 'ic_livraison_etage-d';
$ic-livraison-etage-d-x: 158px;
$ic-livraison-etage-d-y: 262px;
$ic-livraison-etage-d-offset-x: -158px;
$ic-livraison-etage-d-offset-y: -262px;
$ic-livraison-etage-d-width: 38px;
$ic-livraison-etage-d-height: 26px;
$ic-livraison-etage-d-total-width: 337px;
$ic-livraison-etage-d-total-height: 326px;
$ic-livraison-etage-d-image: '~sprite.png';
$ic-livraison-etage-d: (158px, 262px, -158px, -262px, 38px, 26px, 337px, 326px, '~sprite.png', 'ic_livraison_etage-d', );
$ic-livraison-europe-d-name: 'ic_livraison_europe-d';
$ic-livraison-europe-d-x: 0px;
$ic-livraison-europe-d-y: 262px;
$ic-livraison-europe-d-offset-x: 0px;
$ic-livraison-europe-d-offset-y: -262px;
$ic-livraison-europe-d-width: 39px;
$ic-livraison-europe-d-height: 35px;
$ic-livraison-europe-d-total-width: 337px;
$ic-livraison-europe-d-total-height: 326px;
$ic-livraison-europe-d-image: '~sprite.png';
$ic-livraison-europe-d: (0px, 262px, 0px, -262px, 39px, 35px, 337px, 326px, '~sprite.png', 'ic_livraison_europe-d', );
$ic-livraison-gratuite-name: 'ic_livraison_gratuite';
$ic-livraison-gratuite-x: 148px;
$ic-livraison-gratuite-y: 191px;
$ic-livraison-gratuite-offset-x: -148px;
$ic-livraison-gratuite-offset-y: -191px;
$ic-livraison-gratuite-width: 55px;
$ic-livraison-gratuite-height: 33px;
$ic-livraison-gratuite-total-width: 337px;
$ic-livraison-gratuite-total-height: 326px;
$ic-livraison-gratuite-image: '~sprite.png';
$ic-livraison-gratuite: (148px, 191px, -148px, -191px, 55px, 33px, 337px, 326px, '~sprite.png', 'ic_livraison_gratuite', );
$ic-livraison-transporteur-d-name: 'ic_livraison_transporteur-d';
$ic-livraison-transporteur-d-x: 119px;
$ic-livraison-transporteur-d-y: 262px;
$ic-livraison-transporteur-d-offset-x: -119px;
$ic-livraison-transporteur-d-offset-y: -262px;
$ic-livraison-transporteur-d-width: 39px;
$ic-livraison-transporteur-d-height: 26px;
$ic-livraison-transporteur-d-total-width: 337px;
$ic-livraison-transporteur-d-total-height: 326px;
$ic-livraison-transporteur-d-image: '~sprite.png';
$ic-livraison-transporteur-d: (119px, 262px, -119px, -262px, 39px, 26px, 337px, 326px, '~sprite.png', 'ic_livraison_transporteur-d', );
$ic-livraison-d-name: 'ic_livraison-d';
$ic-livraison-d-x: 217px;
$ic-livraison-d-y: 165px;
$ic-livraison-d-offset-x: -217px;
$ic-livraison-d-offset-y: -165px;
$ic-livraison-d-width: 44px;
$ic-livraison-d-height: 26px;
$ic-livraison-d-total-width: 337px;
$ic-livraison-d-total-height: 326px;
$ic-livraison-d-image: '~sprite.png';
$ic-livraison-d: (217px, 165px, -217px, -165px, 44px, 26px, 337px, 326px, '~sprite.png', 'ic_livraison-d', );
$ic-livraison-m-name: 'ic_livraison-m';
$ic-livraison-m-x: 0px;
$ic-livraison-m-y: 84px;
$ic-livraison-m-offset-x: 0px;
$ic-livraison-m-offset-y: -84px;
$ic-livraison-m-width: 80px;
$ic-livraison-m-height: 48px;
$ic-livraison-m-total-width: 337px;
$ic-livraison-m-total-height: 326px;
$ic-livraison-m-image: '~sprite.png';
$ic-livraison-m: (0px, 84px, 0px, -84px, 80px, 48px, 337px, 326px, '~sprite.png', 'ic_livraison-m', );
$ic-mail-d-name: 'ic_mail-d';
$ic-mail-d-x: 39px;
$ic-mail-d-y: 262px;
$ic-mail-d-offset-x: -39px;
$ic-mail-d-offset-y: -262px;
$ic-mail-d-width: 40px;
$ic-mail-d-height: 28px;
$ic-mail-d-total-width: 337px;
$ic-mail-d-total-height: 326px;
$ic-mail-d-image: '~sprite.png';
$ic-mail-d: (39px, 262px, -39px, -262px, 40px, 28px, 337px, 326px, '~sprite.png', 'ic_mail-d', );
$ic-mastercard-d-name: 'ic_mastercard-d';
$ic-mastercard-d-x: 100px;
$ic-mastercard-d-y: 191px;
$ic-mastercard-d-offset-x: -100px;
$ic-mastercard-d-offset-y: -191px;
$ic-mastercard-d-width: 48px;
$ic-mastercard-d-height: 39px;
$ic-mastercard-d-total-width: 337px;
$ic-mastercard-d-total-height: 326px;
$ic-mastercard-d-image: '~sprite.png';
$ic-mastercard-d: (100px, 191px, -100px, -191px, 48px, 39px, 337px, 326px, '~sprite.png', 'ic_mastercard-d', );
$ic-matiere-d-name: 'ic_matiere-d';
$ic-matiere-d-x: 272px;
$ic-matiere-d-y: 152px;
$ic-matiere-d-offset-x: -272px;
$ic-matiere-d-offset-y: -152px;
$ic-matiere-d-width: 32px;
$ic-matiere-d-height: 31px;
$ic-matiere-d-total-width: 337px;
$ic-matiere-d-total-height: 326px;
$ic-matiere-d-image: '~sprite.png';
$ic-matiere-d: (272px, 152px, -272px, -152px, 32px, 31px, 337px, 326px, '~sprite.png', 'ic_matiere-d', );
$ic-nav-ambiances-d-name: 'ic_nav_ambiances-d';
$ic-nav-ambiances-d-x: 79px;
$ic-nav-ambiances-d-y: 262px;
$ic-nav-ambiances-d-offset-x: -79px;
$ic-nav-ambiances-d-offset-y: -262px;
$ic-nav-ambiances-d-width: 40px;
$ic-nav-ambiances-d-height: 28px;
$ic-nav-ambiances-d-total-width: 337px;
$ic-nav-ambiances-d-total-height: 326px;
$ic-nav-ambiances-d-image: '~sprite.png';
$ic-nav-ambiances-d: (79px, 262px, -79px, -262px, 40px, 28px, 337px, 326px, '~sprite.png', 'ic_nav_ambiances-d', );
$ic-nav-promo-d-name: 'ic_nav_promo-d';
$ic-nav-promo-d-x: 307px;
$ic-nav-promo-d-y: 231px;
$ic-nav-promo-d-offset-x: -307px;
$ic-nav-promo-d-offset-y: -231px;
$ic-nav-promo-d-width: 26px;
$ic-nav-promo-d-height: 26px;
$ic-nav-promo-d-total-width: 337px;
$ic-nav-promo-d-total-height: 326px;
$ic-nav-promo-d-image: '~sprite.png';
$ic-nav-promo-d: (307px, 231px, -307px, -231px, 26px, 26px, 337px, 326px, '~sprite.png', 'ic_nav_promo-d', );
$ic-outils-d-name: 'ic_outils-d';
$ic-outils-d-x: 307px;
$ic-outils-d-y: 0px;
$ic-outils-d-offset-x: -307px;
$ic-outils-d-offset-y: 0px;
$ic-outils-d-width: 30px;
$ic-outils-d-height: 31px;
$ic-outils-d-total-width: 337px;
$ic-outils-d-total-height: 326px;
$ic-outils-d-image: '~sprite.png';
$ic-outils-d: (307px, 0px, -307px, 0px, 30px, 31px, 337px, 326px, '~sprite.png', 'ic_outils-d', );
$ic-panier-blanc-d-name: 'ic_panier-blanc-d';
$ic-panier-blanc-d-x: 307px;
$ic-panier-blanc-d-y: 181px;
$ic-panier-blanc-d-offset-x: -307px;
$ic-panier-blanc-d-offset-y: -181px;
$ic-panier-blanc-d-width: 28px;
$ic-panier-blanc-d-height: 27px;
$ic-panier-blanc-d-total-width: 337px;
$ic-panier-blanc-d-total-height: 326px;
$ic-panier-blanc-d-image: '~sprite.png';
$ic-panier-blanc-d: (307px, 181px, -307px, -181px, 28px, 27px, 337px, 326px, '~sprite.png', 'ic_panier-blanc-d', );
$ic-panier-d-name: 'ic_panier-d';
$ic-panier-d-x: 272px;
$ic-panier-d-y: 118px;
$ic-panier-d-offset-x: -272px;
$ic-panier-d-offset-y: -118px;
$ic-panier-d-width: 35px;
$ic-panier-d-height: 34px;
$ic-panier-d-total-width: 337px;
$ic-panier-d-total-height: 326px;
$ic-panier-d-image: '~sprite.png';
$ic-panier-d: (272px, 118px, -272px, -118px, 35px, 34px, 337px, 326px, '~sprite.png', 'ic_panier-d', );
$ic-panier-white-name: 'ic_panier-white';
$ic-panier-white-x: 272px;
$ic-panier-white-y: 84px;
$ic-panier-white-offset-x: -272px;
$ic-panier-white-offset-y: -84px;
$ic-panier-white-width: 35px;
$ic-panier-white-height: 34px;
$ic-panier-white-total-width: 337px;
$ic-panier-white-total-height: 326px;
$ic-panier-white-image: '~sprite.png';
$ic-panier-white: (272px, 84px, -272px, -84px, 35px, 34px, 337px, 326px, '~sprite.png', 'ic_panier-white', );
$ic-paypal-d-name: 'ic_paypal-d';
$ic-paypal-d-x: 0px;
$ic-paypal-d-y: 242px;
$ic-paypal-d-offset-x: 0px;
$ic-paypal-d-offset-y: -242px;
$ic-paypal-d-width: 76px;
$ic-paypal-d-height: 20px;
$ic-paypal-d-total-width: 337px;
$ic-paypal-d-total-height: 326px;
$ic-paypal-d-image: '~sprite.png';
$ic-paypal-d: (0px, 242px, 0px, -242px, 76px, 20px, 337px, 326px, '~sprite.png', 'ic_paypal-d', );
$ic-phone-d-name: 'ic_phone-d';
$ic-phone-d-x: 272px;
$ic-phone-d-y: 214px;
$ic-phone-d-offset-x: -272px;
$ic-phone-d-offset-y: -214px;
$ic-phone-d-width: 32px;
$ic-phone-d-height: 25px;
$ic-phone-d-total-width: 337px;
$ic-phone-d-total-height: 326px;
$ic-phone-d-image: '~sprite.png';
$ic-phone-d: (272px, 214px, -272px, -214px, 32px, 25px, 337px, 326px, '~sprite.png', 'ic_phone-d', );
$ic-pinterest-d-name: 'ic_pinterest-d';
$ic-pinterest-d-x: 50px;
$ic-pinterest-d-y: 191px;
$ic-pinterest-d-offset-x: -50px;
$ic-pinterest-d-offset-y: -191px;
$ic-pinterest-d-width: 50px;
$ic-pinterest-d-height: 50px;
$ic-pinterest-d-total-width: 337px;
$ic-pinterest-d-total-height: 326px;
$ic-pinterest-d-image: '~sprite.png';
$ic-pinterest-d: (50px, 191px, -50px, -191px, 50px, 50px, 337px, 326px, '~sprite.png', 'ic_pinterest-d', );
$ic-planete-d-name: 'ic_planete-d';
$ic-planete-d-x: 147px;
$ic-planete-d-y: 0px;
$ic-planete-d-offset-x: -147px;
$ic-planete-d-offset-y: 0px;
$ic-planete-d-width: 70px;
$ic-planete-d-height: 69px;
$ic-planete-d-total-width: 337px;
$ic-planete-d-total-height: 326px;
$ic-planete-d-image: '~sprite.png';
$ic-planete-d: (147px, 0px, -147px, 0px, 70px, 69px, 337px, 326px, '~sprite.png', 'ic_planete-d', );
$ic-poids-d-name: 'ic_poids-d';
$ic-poids-d-x: 307px;
$ic-poids-d-y: 92px;
$ic-poids-d-offset-x: -307px;
$ic-poids-d-offset-y: -92px;
$ic-poids-d-width: 28px;
$ic-poids-d-height: 31px;
$ic-poids-d-total-width: 337px;
$ic-poids-d-total-height: 326px;
$ic-poids-d-image: '~sprite.png';
$ic-poids-d: (307px, 92px, -307px, -92px, 28px, 31px, 337px, 326px, '~sprite.png', 'ic_poids-d', );
$ic-poubelle-d-name: 'ic_poubelle-d';
$ic-poubelle-d-x: 31px;
$ic-poubelle-d-y: 297px;
$ic-poubelle-d-offset-x: -31px;
$ic-poubelle-d-offset-y: -297px;
$ic-poubelle-d-width: 17px;
$ic-poubelle-d-height: 24px;
$ic-poubelle-d-total-width: 337px;
$ic-poubelle-d-total-height: 326px;
$ic-poubelle-d-image: '~sprite.png';
$ic-poubelle-d: (31px, 297px, -31px, -297px, 17px, 24px, 337px, 326px, '~sprite.png', 'ic_poubelle-d', );
$ic-search-d-name: 'ic_search-d';
$ic-search-d-x: 307px;
$ic-search-d-y: 62px;
$ic-search-d-offset-x: -307px;
$ic-search-d-offset-y: -62px;
$ic-search-d-width: 30px;
$ic-search-d-height: 30px;
$ic-search-d-total-width: 337px;
$ic-search-d-total-height: 326px;
$ic-search-d-image: '~sprite.png';
$ic-search-d: (307px, 62px, -307px, -62px, 30px, 30px, 337px, 326px, '~sprite.png', 'ic_search-d', );
$ic-secure-d-name: 'ic_secure-d';
$ic-secure-d-x: 307px;
$ic-secure-d-y: 257px;
$ic-secure-d-offset-x: -307px;
$ic-secure-d-offset-y: -257px;
$ic-secure-d-width: 21px;
$ic-secure-d-height: 27px;
$ic-secure-d-total-width: 337px;
$ic-secure-d-total-height: 326px;
$ic-secure-d-image: '~sprite.png';
$ic-secure-d: (307px, 257px, -307px, -257px, 21px, 27px, 337px, 326px, '~sprite.png', 'ic_secure-d', );
$ic-secure-m-name: 'ic_secure-m';
$ic-secure-m-x: 272px;
$ic-secure-m-y: 0px;
$ic-secure-m-offset-x: -272px;
$ic-secure-m-offset-y: 0px;
$ic-secure-m-width: 35px;
$ic-secure-m-height: 49px;
$ic-secure-m-total-width: 337px;
$ic-secure-m-total-height: 326px;
$ic-secure-m-image: '~sprite.png';
$ic-secure-m: (272px, 0px, -272px, 0px, 35px, 49px, 337px, 326px, '~sprite.png', 'ic_secure-m', );
$ic-smile-d-name: 'ic_smile-d';
$ic-smile-d-x: 307px;
$ic-smile-d-y: 153px;
$ic-smile-d-offset-x: -307px;
$ic-smile-d-offset-y: -153px;
$ic-smile-d-width: 28px;
$ic-smile-d-height: 28px;
$ic-smile-d-total-width: 337px;
$ic-smile-d-total-height: 326px;
$ic-smile-d-image: '~sprite.png';
$ic-smile-d: (307px, 153px, -307px, -153px, 28px, 28px, 337px, 326px, '~sprite.png', 'ic_smile-d', );
$ic-smile-m-name: 'ic_smile-m';
$ic-smile-m-x: 132px;
$ic-smile-m-y: 84px;
$ic-smile-m-offset-x: -132px;
$ic-smile-m-offset-y: -84px;
$ic-smile-m-width: 48px;
$ic-smile-m-height: 48px;
$ic-smile-m-total-width: 337px;
$ic-smile-m-total-height: 326px;
$ic-smile-m-image: '~sprite.png';
$ic-smile-m: (132px, 84px, -132px, -84px, 48px, 48px, 337px, 326px, '~sprite.png', 'ic_smile-m', );
$ic-user-new-d-name: 'ic_user-new-d';
$ic-user-new-d-x: 217px;
$ic-user-new-d-y: 0px;
$ic-user-new-d-offset-x: -217px;
$ic-user-new-d-offset-y: 0px;
$ic-user-new-d-width: 55px;
$ic-user-new-d-height: 55px;
$ic-user-new-d-total-width: 337px;
$ic-user-new-d-total-height: 326px;
$ic-user-new-d-image: '~sprite.png';
$ic-user-new-d: (217px, 0px, -217px, 0px, 55px, 55px, 337px, 326px, '~sprite.png', 'ic_user-new-d', );
$ic-visa-d-name: 'ic_visa-d';
$ic-visa-d-x: 203px;
$ic-visa-d-y: 191px;
$ic-visa-d-offset-x: -203px;
$ic-visa-d-offset-y: -191px;
$ic-visa-d-width: 59px;
$ic-visa-d-height: 20px;
$ic-visa-d-total-width: 337px;
$ic-visa-d-total-height: 326px;
$ic-visa-d-image: '~sprite.png';
$ic-visa-d: (203px, 191px, -203px, -191px, 59px, 20px, 337px, 326px, '~sprite.png', 'ic_visa-d', );
$label-alterdeco-d-name: 'label_alterdeco-d';
$label-alterdeco-d-x: 0px;
$label-alterdeco-d-y: 39px;
$label-alterdeco-d-offset-x: 0px;
$label-alterdeco-d-offset-y: -39px;
$label-alterdeco-d-width: 120px;
$label-alterdeco-d-height: 45px;
$label-alterdeco-d-total-width: 337px;
$label-alterdeco-d-total-height: 326px;
$label-alterdeco-d-image: '~sprite.png';
$label-alterdeco-d: (0px, 39px, 0px, -39px, 120px, 45px, 337px, 326px, '~sprite.png', 'label_alterdeco-d', );
$label-ecomobilier-d-name: 'label_ecomobilier-d';
$label-ecomobilier-d-x: 0px;
$label-ecomobilier-d-y: 0px;
$label-ecomobilier-d-offset-x: 0px;
$label-ecomobilier-d-offset-y: 0px;
$label-ecomobilier-d-width: 147px;
$label-ecomobilier-d-height: 39px;
$label-ecomobilier-d-total-width: 337px;
$label-ecomobilier-d-total-height: 326px;
$label-ecomobilier-d-image: '~sprite.png';
$label-ecomobilier-d: (0px, 0px, 0px, 0px, 147px, 39px, 337px, 326px, '~sprite.png', 'label_ecomobilier-d', );
$label-f-s-c-d-name: 'label_FSC-d';
$label-f-s-c-d-x: 217px;
$label-f-s-c-d-y: 55px;
$label-f-s-c-d-offset-x: -217px;
$label-f-s-c-d-offset-y: -55px;
$label-f-s-c-d-width: 50px;
$label-f-s-c-d-height: 59px;
$label-f-s-c-d-total-width: 337px;
$label-f-s-c-d-total-height: 326px;
$label-f-s-c-d-image: '~sprite.png';
$label-f-s-c-d: (217px, 55px, -217px, -55px, 50px, 59px, 337px, 326px, '~sprite.png', 'label_FSC-d', );
$label-r-i-k-s-h-d-name: 'label_RIKSH-d';
$label-r-i-k-s-h-d-x: 61px;
$label-r-i-k-s-h-d-y: 132px;
$label-r-i-k-s-h-d-offset-x: -61px;
$label-r-i-k-s-h-d-offset-y: -132px;
$label-r-i-k-s-h-d-width: 56px;
$label-r-i-k-s-h-d-height: 57px;
$label-r-i-k-s-h-d-total-width: 337px;
$label-r-i-k-s-h-d-total-height: 326px;
$label-r-i-k-s-h-d-image: '~sprite.png';
$label-r-i-k-s-h-d: (61px, 132px, -61px, -132px, 56px, 57px, 337px, 326px, '~sprite.png', 'label_RIKSH-d', );
$label-triman-d-name: 'label_triman-d';
$label-triman-d-x: 0px;
$label-triman-d-y: 132px;
$label-triman-d-offset-x: 0px;
$label-triman-d-offset-y: -132px;
$label-triman-d-width: 61px;
$label-triman-d-height: 59px;
$label-triman-d-total-width: 337px;
$label-triman-d-total-height: 326px;
$label-triman-d-image: '~sprite.png';
$label-triman-d: (0px, 132px, 0px, -132px, 61px, 59px, 337px, 326px, '~sprite.png', 'label_triman-d', );
$retina-bt-fermer-d-name: 'retina_bt-fermer-d';
$retina-bt-fermer-d-x: 544px;
$retina-bt-fermer-d-y: 98px;
$retina-bt-fermer-d-offset-x: -544px;
$retina-bt-fermer-d-offset-y: -98px;
$retina-bt-fermer-d-width: 70px;
$retina-bt-fermer-d-height: 70px;
$retina-bt-fermer-d-total-width: 674px;
$retina-bt-fermer-d-total-height: 652px;
$retina-bt-fermer-d-image: '~sprite@2x.png';
$retina-bt-fermer-d: (544px, 98px, -544px, -98px, 70px, 70px, 674px, 652px, '~sprite@2x.png', 'retina_bt-fermer-d', );
$retina-ic-ambiance-d-name: 'retina_ic_ambiance-d';
$retina-ic-ambiance-d-x: 470px;
$retina-ic-ambiance-d-y: 524px;
$retina-ic-ambiance-d-offset-x: -470px;
$retina-ic-ambiance-d-offset-y: -524px;
$retina-ic-ambiance-d-width: 62px;
$retina-ic-ambiance-d-height: 46px;
$retina-ic-ambiance-d-total-width: 674px;
$retina-ic-ambiance-d-total-height: 652px;
$retina-ic-ambiance-d-image: '~sprite@2x.png';
$retina-ic-ambiance-d: (470px, 524px, -470px, -524px, 62px, 46px, 674px, 652px, '~sprite@2x.png', 'retina_ic_ambiance-d', );
$retina-ic-cadeau-d-name: 'retina_ic_cadeau-d';
$retina-ic-cadeau-d-x: 234px;
$retina-ic-cadeau-d-y: 264px;
$retina-ic-cadeau-d-offset-x: -234px;
$retina-ic-cadeau-d-offset-y: -264px;
$retina-ic-cadeau-d-width: 110px;
$retina-ic-cadeau-d-height: 114px;
$retina-ic-cadeau-d-total-width: 674px;
$retina-ic-cadeau-d-total-height: 652px;
$retina-ic-cadeau-d-image: '~sprite@2x.png';
$retina-ic-cadeau-d: (234px, 264px, -234px, -264px, 110px, 114px, 674px, 652px, '~sprite@2x.png', 'retina_ic_cadeau-d', );
$retina-ic-cadeau-m-name: 'retina_ic_cadeau-m';
$retina-ic-cadeau-m-x: 344px;
$retina-ic-cadeau-m-y: 264px;
$retina-ic-cadeau-m-offset-x: -344px;
$retina-ic-cadeau-m-offset-y: -264px;
$retina-ic-cadeau-m-width: 90px;
$retina-ic-cadeau-m-height: 90px;
$retina-ic-cadeau-m-total-width: 674px;
$retina-ic-cadeau-m-total-height: 652px;
$retina-ic-cadeau-m-image: '~sprite@2x.png';
$retina-ic-cadeau-m: (344px, 264px, -344px, -264px, 90px, 90px, 674px, 652px, '~sprite@2x.png', 'retina_ic_cadeau-m', );
$retina-ic-colis-d-name: 'retina_ic_colis-d';
$retina-ic-colis-d-x: 614px;
$retina-ic-colis-d-y: 246px;
$retina-ic-colis-d-offset-x: -614px;
$retina-ic-colis-d-offset-y: -246px;
$retina-ic-colis-d-width: 56px;
$retina-ic-colis-d-height: 60px;
$retina-ic-colis-d-total-width: 674px;
$retina-ic-colis-d-total-height: 652px;
$retina-ic-colis-d-image: '~sprite@2x.png';
$retina-ic-colis-d: (614px, 246px, -614px, -246px, 56px, 60px, 674px, 652px, '~sprite@2x.png', 'retina_ic_colis-d', );
$retina-ic-collection-d-name: 'retina_ic_collection-d';
$retina-ic-collection-d-x: 544px;
$retina-ic-collection-d-y: 366px;
$retina-ic-collection-d-offset-x: -544px;
$retina-ic-collection-d-offset-y: -366px;
$retina-ic-collection-d-width: 60px;
$retina-ic-collection-d-height: 62px;
$retina-ic-collection-d-total-width: 674px;
$retina-ic-collection-d-total-height: 652px;
$retina-ic-collection-d-image: '~sprite@2x.png';
$retina-ic-collection-d: (544px, 366px, -544px, -366px, 60px, 62px, 674px, 652px, '~sprite@2x.png', 'retina_ic_collection-d', );
$retina-ic-connect-guest-d-name: 'retina_ic_connect-guest-d';
$retina-ic-connect-guest-d-x: 360px;
$retina-ic-connect-guest-d-y: 168px;
$retina-ic-connect-guest-d-offset-x: -360px;
$retina-ic-connect-guest-d-offset-y: -168px;
$retina-ic-connect-guest-d-width: 72px;
$retina-ic-connect-guest-d-height: 72px;
$retina-ic-connect-guest-d-total-width: 674px;
$retina-ic-connect-guest-d-total-height: 652px;
$retina-ic-connect-guest-d-image: '~sprite@2x.png';
$retina-ic-connect-guest-d: (360px, 168px, -360px, -168px, 72px, 72px, 674px, 652px, '~sprite@2x.png', 'retina_ic_connect-guest-d', );
$retina-ic-conseils-d-name: 'retina_ic_conseils-d';
$retina-ic-conseils-d-x: 614px;
$retina-ic-conseils-d-y: 416px;
$retina-ic-conseils-d-offset-x: -614px;
$retina-ic-conseils-d-offset-y: -416px;
$retina-ic-conseils-d-width: 60px;
$retina-ic-conseils-d-height: 46px;
$retina-ic-conseils-d-total-width: 674px;
$retina-ic-conseils-d-total-height: 652px;
$retina-ic-conseils-d-image: '~sprite@2x.png';
$retina-ic-conseils-d: (614px, 416px, -614px, -416px, 60px, 46px, 674px, 652px, '~sprite@2x.png', 'retina_ic_conseils-d', );
$retina-ic-dimension-d-name: 'retina_ic_dimension-d';
$retina-ic-dimension-d-x: 614px;
$retina-ic-dimension-d-y: 62px;
$retina-ic-dimension-d-offset-x: -614px;
$retina-ic-dimension-d-offset-y: -62px;
$retina-ic-dimension-d-width: 60px;
$retina-ic-dimension-d-height: 62px;
$retina-ic-dimension-d-total-width: 674px;
$retina-ic-dimension-d-total-height: 652px;
$retina-ic-dimension-d-image: '~sprite@2x.png';
$retina-ic-dimension-d: (614px, 62px, -614px, -62px, 60px, 62px, 674px, 652px, '~sprite@2x.png', 'retina_ic_dimension-d', );
$retina-ic-ecoresponsable-d-name: 'retina_ic_ecoresponsable-d';
$retina-ic-ecoresponsable-d-x: 0px;
$retina-ic-ecoresponsable-d-y: 594px;
$retina-ic-ecoresponsable-d-offset-x: 0px;
$retina-ic-ecoresponsable-d-offset-y: -594px;
$retina-ic-ecoresponsable-d-width: 62px;
$retina-ic-ecoresponsable-d-height: 58px;
$retina-ic-ecoresponsable-d-total-width: 674px;
$retina-ic-ecoresponsable-d-total-height: 652px;
$retina-ic-ecoresponsable-d-image: '~sprite@2x.png';
$retina-ic-ecoresponsable-d: (0px, 594px, 0px, -594px, 62px, 58px, 674px, 652px, '~sprite@2x.png', 'retina_ic_ecoresponsable-d', );
$retina-ic-ecoresponsable-m-name: 'retina_ic_ecoresponsable-m';
$retina-ic-ecoresponsable-m-x: 160px;
$retina-ic-ecoresponsable-m-y: 168px;
$retina-ic-ecoresponsable-m-offset-x: -160px;
$retina-ic-ecoresponsable-m-offset-y: -168px;
$retina-ic-ecoresponsable-m-width: 104px;
$retina-ic-ecoresponsable-m-height: 96px;
$retina-ic-ecoresponsable-m-total-width: 674px;
$retina-ic-ecoresponsable-m-total-height: 652px;
$retina-ic-ecoresponsable-m-image: '~sprite@2x.png';
$retina-ic-ecoresponsable-m: (160px, 168px, -160px, -168px, 104px, 96px, 674px, 652px, '~sprite@2x.png', 'retina_ic_ecoresponsable-m', );
$retina-ic-edit-d-name: 'retina_ic_edit-d';
$retina-ic-edit-d-x: 240px;
$retina-ic-edit-d-y: 78px;
$retina-ic-edit-d-offset-x: -240px;
$retina-ic-edit-d-offset-y: -78px;
$retina-ic-edit-d-width: 44px;
$retina-ic-edit-d-height: 44px;
$retina-ic-edit-d-total-width: 674px;
$retina-ic-edit-d-total-height: 652px;
$retina-ic-edit-d-image: '~sprite@2x.png';
$retina-ic-edit-d: (240px, 78px, -240px, -78px, 44px, 44px, 674px, 652px, '~sprite@2x.png', 'retina_ic_edit-d', );
$retina-ic-facebook-d-name: 'retina_ic_facebook-d';
$retina-ic-facebook-d-x: 434px;
$retina-ic-facebook-d-y: 228px;
$retina-ic-facebook-d-offset-x: -434px;
$retina-ic-facebook-d-offset-y: -228px;
$retina-ic-facebook-d-width: 100px;
$retina-ic-facebook-d-height: 102px;
$retina-ic-facebook-d-total-width: 674px;
$retina-ic-facebook-d-total-height: 652px;
$retina-ic-facebook-d-image: '~sprite@2x.png';
$retina-ic-facebook-d: (434px, 228px, -434px, -228px, 100px, 102px, 674px, 652px, '~sprite@2x.png', 'retina_ic_facebook-d', );
$retina-ic-instagram-d-name: 'retina_ic_instagram-d';
$retina-ic-instagram-d-x: 0px;
$retina-ic-instagram-d-y: 382px;
$retina-ic-instagram-d-offset-x: 0px;
$retina-ic-instagram-d-offset-y: -382px;
$retina-ic-instagram-d-width: 100px;
$retina-ic-instagram-d-height: 102px;
$retina-ic-instagram-d-total-width: 674px;
$retina-ic-instagram-d-total-height: 652px;
$retina-ic-instagram-d-image: '~sprite@2x.png';
$retina-ic-instagram-d: (0px, 382px, 0px, -382px, 100px, 102px, 674px, 652px, '~sprite@2x.png', 'retina_ic_instagram-d', );
$retina-ic-livraison-48h-d-name: 'retina_ic_livraison_48h-d';
$retina-ic-livraison-48h-d-x: 392px;
$retina-ic-livraison-48h-d-y: 524px;
$retina-ic-livraison-48h-d-offset-x: -392px;
$retina-ic-livraison-48h-d-offset-y: -524px;
$retina-ic-livraison-48h-d-width: 78px;
$retina-ic-livraison-48h-d-height: 48px;
$retina-ic-livraison-48h-d-total-width: 674px;
$retina-ic-livraison-48h-d-total-height: 652px;
$retina-ic-livraison-48h-d-image: '~sprite@2x.png';
$retina-ic-livraison-48h-d: (392px, 524px, -392px, -524px, 78px, 48px, 674px, 652px, '~sprite@2x.png', 'retina_ic_livraison_48h-d', );
$retina-ic-livraison-etage-d-name: 'retina_ic_livraison_etage-d';
$retina-ic-livraison-etage-d-x: 316px;
$retina-ic-livraison-etage-d-y: 524px;
$retina-ic-livraison-etage-d-offset-x: -316px;
$retina-ic-livraison-etage-d-offset-y: -524px;
$retina-ic-livraison-etage-d-width: 76px;
$retina-ic-livraison-etage-d-height: 52px;
$retina-ic-livraison-etage-d-total-width: 674px;
$retina-ic-livraison-etage-d-total-height: 652px;
$retina-ic-livraison-etage-d-image: '~sprite@2x.png';
$retina-ic-livraison-etage-d: (316px, 524px, -316px, -524px, 76px, 52px, 674px, 652px, '~sprite@2x.png', 'retina_ic_livraison_etage-d', );
$retina-ic-livraison-europe-d-name: 'retina_ic_livraison_europe-d';
$retina-ic-livraison-europe-d-x: 0px;
$retina-ic-livraison-europe-d-y: 524px;
$retina-ic-livraison-europe-d-offset-x: 0px;
$retina-ic-livraison-europe-d-offset-y: -524px;
$retina-ic-livraison-europe-d-width: 78px;
$retina-ic-livraison-europe-d-height: 70px;
$retina-ic-livraison-europe-d-total-width: 674px;
$retina-ic-livraison-europe-d-total-height: 652px;
$retina-ic-livraison-europe-d-image: '~sprite@2x.png';
$retina-ic-livraison-europe-d: (0px, 524px, 0px, -524px, 78px, 70px, 674px, 652px, '~sprite@2x.png', 'retina_ic_livraison_europe-d', );
$retina-ic-livraison-gratuite-name: 'retina_ic_livraison_gratuite';
$retina-ic-livraison-gratuite-x: 296px;
$retina-ic-livraison-gratuite-y: 382px;
$retina-ic-livraison-gratuite-offset-x: -296px;
$retina-ic-livraison-gratuite-offset-y: -382px;
$retina-ic-livraison-gratuite-width: 110px;
$retina-ic-livraison-gratuite-height: 66px;
$retina-ic-livraison-gratuite-total-width: 674px;
$retina-ic-livraison-gratuite-total-height: 652px;
$retina-ic-livraison-gratuite-image: '~sprite@2x.png';
$retina-ic-livraison-gratuite: (296px, 382px, -296px, -382px, 110px, 66px, 674px, 652px, '~sprite@2x.png', 'retina_ic_livraison_gratuite', );
$retina-ic-livraison-transporteur-d-name: 'retina_ic_livraison_transporteur-d';
$retina-ic-livraison-transporteur-d-x: 238px;
$retina-ic-livraison-transporteur-d-y: 524px;
$retina-ic-livraison-transporteur-d-offset-x: -238px;
$retina-ic-livraison-transporteur-d-offset-y: -524px;
$retina-ic-livraison-transporteur-d-width: 78px;
$retina-ic-livraison-transporteur-d-height: 52px;
$retina-ic-livraison-transporteur-d-total-width: 674px;
$retina-ic-livraison-transporteur-d-total-height: 652px;
$retina-ic-livraison-transporteur-d-image: '~sprite@2x.png';
$retina-ic-livraison-transporteur-d: (238px, 524px, -238px, -524px, 78px, 52px, 674px, 652px, '~sprite@2x.png', 'retina_ic_livraison_transporteur-d', );
$retina-ic-livraison-d-name: 'retina_ic_livraison-d';
$retina-ic-livraison-d-x: 434px;
$retina-ic-livraison-d-y: 330px;
$retina-ic-livraison-d-offset-x: -434px;
$retina-ic-livraison-d-offset-y: -330px;
$retina-ic-livraison-d-width: 88px;
$retina-ic-livraison-d-height: 52px;
$retina-ic-livraison-d-total-width: 674px;
$retina-ic-livraison-d-total-height: 652px;
$retina-ic-livraison-d-image: '~sprite@2x.png';
$retina-ic-livraison-d: (434px, 330px, -434px, -330px, 88px, 52px, 674px, 652px, '~sprite@2x.png', 'retina_ic_livraison-d', );
$retina-ic-livraison-m-name: 'retina_ic_livraison-m';
$retina-ic-livraison-m-x: 0px;
$retina-ic-livraison-m-y: 168px;
$retina-ic-livraison-m-offset-x: 0px;
$retina-ic-livraison-m-offset-y: -168px;
$retina-ic-livraison-m-width: 160px;
$retina-ic-livraison-m-height: 96px;
$retina-ic-livraison-m-total-width: 674px;
$retina-ic-livraison-m-total-height: 652px;
$retina-ic-livraison-m-image: '~sprite@2x.png';
$retina-ic-livraison-m: (0px, 168px, 0px, -168px, 160px, 96px, 674px, 652px, '~sprite@2x.png', 'retina_ic_livraison-m', );
$retina-ic-mail-d-name: 'retina_ic_mail-d';
$retina-ic-mail-d-x: 78px;
$retina-ic-mail-d-y: 524px;
$retina-ic-mail-d-offset-x: -78px;
$retina-ic-mail-d-offset-y: -524px;
$retina-ic-mail-d-width: 80px;
$retina-ic-mail-d-height: 56px;
$retina-ic-mail-d-total-width: 674px;
$retina-ic-mail-d-total-height: 652px;
$retina-ic-mail-d-image: '~sprite@2x.png';
$retina-ic-mail-d: (78px, 524px, -78px, -524px, 80px, 56px, 674px, 652px, '~sprite@2x.png', 'retina_ic_mail-d', );
$retina-ic-mastercard-d-name: 'retina_ic_mastercard-d';
$retina-ic-mastercard-d-x: 200px;
$retina-ic-mastercard-d-y: 382px;
$retina-ic-mastercard-d-offset-x: -200px;
$retina-ic-mastercard-d-offset-y: -382px;
$retina-ic-mastercard-d-width: 96px;
$retina-ic-mastercard-d-height: 78px;
$retina-ic-mastercard-d-total-width: 674px;
$retina-ic-mastercard-d-total-height: 652px;
$retina-ic-mastercard-d-image: '~sprite@2x.png';
$retina-ic-mastercard-d: (200px, 382px, -200px, -382px, 96px, 78px, 674px, 652px, '~sprite@2x.png', 'retina_ic_mastercard-d', );
$retina-ic-matiere-d-name: 'retina_ic_matiere-d';
$retina-ic-matiere-d-x: 544px;
$retina-ic-matiere-d-y: 304px;
$retina-ic-matiere-d-offset-x: -544px;
$retina-ic-matiere-d-offset-y: -304px;
$retina-ic-matiere-d-width: 64px;
$retina-ic-matiere-d-height: 62px;
$retina-ic-matiere-d-total-width: 674px;
$retina-ic-matiere-d-total-height: 652px;
$retina-ic-matiere-d-image: '~sprite@2x.png';
$retina-ic-matiere-d: (544px, 304px, -544px, -304px, 64px, 62px, 674px, 652px, '~sprite@2x.png', 'retina_ic_matiere-d', );
$retina-ic-nav-ambiances-d-name: 'retina_ic_nav_ambiances-d';
$retina-ic-nav-ambiances-d-x: 158px;
$retina-ic-nav-ambiances-d-y: 524px;
$retina-ic-nav-ambiances-d-offset-x: -158px;
$retina-ic-nav-ambiances-d-offset-y: -524px;
$retina-ic-nav-ambiances-d-width: 80px;
$retina-ic-nav-ambiances-d-height: 56px;
$retina-ic-nav-ambiances-d-total-width: 674px;
$retina-ic-nav-ambiances-d-total-height: 652px;
$retina-ic-nav-ambiances-d-image: '~sprite@2x.png';
$retina-ic-nav-ambiances-d: (158px, 524px, -158px, -524px, 80px, 56px, 674px, 652px, '~sprite@2x.png', 'retina_ic_nav_ambiances-d', );
$retina-ic-nav-promo-d-name: 'retina_ic_nav_promo-d';
$retina-ic-nav-promo-d-x: 614px;
$retina-ic-nav-promo-d-y: 462px;
$retina-ic-nav-promo-d-offset-x: -614px;
$retina-ic-nav-promo-d-offset-y: -462px;
$retina-ic-nav-promo-d-width: 52px;
$retina-ic-nav-promo-d-height: 52px;
$retina-ic-nav-promo-d-total-width: 674px;
$retina-ic-nav-promo-d-total-height: 652px;
$retina-ic-nav-promo-d-image: '~sprite@2x.png';
$retina-ic-nav-promo-d: (614px, 462px, -614px, -462px, 52px, 52px, 674px, 652px, '~sprite@2x.png', 'retina_ic_nav_promo-d', );
$retina-ic-outils-d-name: 'retina_ic_outils-d';
$retina-ic-outils-d-x: 614px;
$retina-ic-outils-d-y: 0px;
$retina-ic-outils-d-offset-x: -614px;
$retina-ic-outils-d-offset-y: 0px;
$retina-ic-outils-d-width: 60px;
$retina-ic-outils-d-height: 62px;
$retina-ic-outils-d-total-width: 674px;
$retina-ic-outils-d-total-height: 652px;
$retina-ic-outils-d-image: '~sprite@2x.png';
$retina-ic-outils-d: (614px, 0px, -614px, 0px, 60px, 62px, 674px, 652px, '~sprite@2x.png', 'retina_ic_outils-d', );
$retina-ic-panier-blanc-d-name: 'retina_ic_panier-blanc-d';
$retina-ic-panier-blanc-d-x: 614px;
$retina-ic-panier-blanc-d-y: 362px;
$retina-ic-panier-blanc-d-offset-x: -614px;
$retina-ic-panier-blanc-d-offset-y: -362px;
$retina-ic-panier-blanc-d-width: 56px;
$retina-ic-panier-blanc-d-height: 54px;
$retina-ic-panier-blanc-d-total-width: 674px;
$retina-ic-panier-blanc-d-total-height: 652px;
$retina-ic-panier-blanc-d-image: '~sprite@2x.png';
$retina-ic-panier-blanc-d: (614px, 362px, -614px, -362px, 56px, 54px, 674px, 652px, '~sprite@2x.png', 'retina_ic_panier-blanc-d', );
$retina-ic-panier-d-name: 'retina_ic_panier-d';
$retina-ic-panier-d-x: 544px;
$retina-ic-panier-d-y: 236px;
$retina-ic-panier-d-offset-x: -544px;
$retina-ic-panier-d-offset-y: -236px;
$retina-ic-panier-d-width: 70px;
$retina-ic-panier-d-height: 68px;
$retina-ic-panier-d-total-width: 674px;
$retina-ic-panier-d-total-height: 652px;
$retina-ic-panier-d-image: '~sprite@2x.png';
$retina-ic-panier-d: (544px, 236px, -544px, -236px, 70px, 68px, 674px, 652px, '~sprite@2x.png', 'retina_ic_panier-d', );
$retina-ic-panier-white-name: 'retina_ic_panier-white';
$retina-ic-panier-white-x: 544px;
$retina-ic-panier-white-y: 168px;
$retina-ic-panier-white-offset-x: -544px;
$retina-ic-panier-white-offset-y: -168px;
$retina-ic-panier-white-width: 70px;
$retina-ic-panier-white-height: 68px;
$retina-ic-panier-white-total-width: 674px;
$retina-ic-panier-white-total-height: 652px;
$retina-ic-panier-white-image: '~sprite@2x.png';
$retina-ic-panier-white: (544px, 168px, -544px, -168px, 70px, 68px, 674px, 652px, '~sprite@2x.png', 'retina_ic_panier-white', );
$retina-ic-paypal-d-name: 'retina_ic_paypal-d';
$retina-ic-paypal-d-x: 0px;
$retina-ic-paypal-d-y: 484px;
$retina-ic-paypal-d-offset-x: 0px;
$retina-ic-paypal-d-offset-y: -484px;
$retina-ic-paypal-d-width: 152px;
$retina-ic-paypal-d-height: 40px;
$retina-ic-paypal-d-total-width: 674px;
$retina-ic-paypal-d-total-height: 652px;
$retina-ic-paypal-d-image: '~sprite@2x.png';
$retina-ic-paypal-d: (0px, 484px, 0px, -484px, 152px, 40px, 674px, 652px, '~sprite@2x.png', 'retina_ic_paypal-d', );
$retina-ic-phone-d-name: 'retina_ic_phone-d';
$retina-ic-phone-d-x: 544px;
$retina-ic-phone-d-y: 428px;
$retina-ic-phone-d-offset-x: -544px;
$retina-ic-phone-d-offset-y: -428px;
$retina-ic-phone-d-width: 64px;
$retina-ic-phone-d-height: 50px;
$retina-ic-phone-d-total-width: 674px;
$retina-ic-phone-d-total-height: 652px;
$retina-ic-phone-d-image: '~sprite@2x.png';
$retina-ic-phone-d: (544px, 428px, -544px, -428px, 64px, 50px, 674px, 652px, '~sprite@2x.png', 'retina_ic_phone-d', );
$retina-ic-pinterest-d-name: 'retina_ic_pinterest-d';
$retina-ic-pinterest-d-x: 100px;
$retina-ic-pinterest-d-y: 382px;
$retina-ic-pinterest-d-offset-x: -100px;
$retina-ic-pinterest-d-offset-y: -382px;
$retina-ic-pinterest-d-width: 100px;
$retina-ic-pinterest-d-height: 100px;
$retina-ic-pinterest-d-total-width: 674px;
$retina-ic-pinterest-d-total-height: 652px;
$retina-ic-pinterest-d-image: '~sprite@2x.png';
$retina-ic-pinterest-d: (100px, 382px, -100px, -382px, 100px, 100px, 674px, 652px, '~sprite@2x.png', 'retina_ic_pinterest-d', );
$retina-ic-planete-d-name: 'retina_ic_planete-d';
$retina-ic-planete-d-x: 294px;
$retina-ic-planete-d-y: 0px;
$retina-ic-planete-d-offset-x: -294px;
$retina-ic-planete-d-offset-y: 0px;
$retina-ic-planete-d-width: 140px;
$retina-ic-planete-d-height: 138px;
$retina-ic-planete-d-total-width: 674px;
$retina-ic-planete-d-total-height: 652px;
$retina-ic-planete-d-image: '~sprite@2x.png';
$retina-ic-planete-d: (294px, 0px, -294px, 0px, 140px, 138px, 674px, 652px, '~sprite@2x.png', 'retina_ic_planete-d', );
$retina-ic-poids-d-name: 'retina_ic_poids-d';
$retina-ic-poids-d-x: 614px;
$retina-ic-poids-d-y: 184px;
$retina-ic-poids-d-offset-x: -614px;
$retina-ic-poids-d-offset-y: -184px;
$retina-ic-poids-d-width: 56px;
$retina-ic-poids-d-height: 62px;
$retina-ic-poids-d-total-width: 674px;
$retina-ic-poids-d-total-height: 652px;
$retina-ic-poids-d-image: '~sprite@2x.png';
$retina-ic-poids-d: (614px, 184px, -614px, -184px, 56px, 62px, 674px, 652px, '~sprite@2x.png', 'retina_ic_poids-d', );
$retina-ic-poubelle-d-name: 'retina_ic_poubelle-d';
$retina-ic-poubelle-d-x: 62px;
$retina-ic-poubelle-d-y: 594px;
$retina-ic-poubelle-d-offset-x: -62px;
$retina-ic-poubelle-d-offset-y: -594px;
$retina-ic-poubelle-d-width: 34px;
$retina-ic-poubelle-d-height: 48px;
$retina-ic-poubelle-d-total-width: 674px;
$retina-ic-poubelle-d-total-height: 652px;
$retina-ic-poubelle-d-image: '~sprite@2x.png';
$retina-ic-poubelle-d: (62px, 594px, -62px, -594px, 34px, 48px, 674px, 652px, '~sprite@2x.png', 'retina_ic_poubelle-d', );
$retina-ic-search-d-name: 'retina_ic_search-d';
$retina-ic-search-d-x: 614px;
$retina-ic-search-d-y: 124px;
$retina-ic-search-d-offset-x: -614px;
$retina-ic-search-d-offset-y: -124px;
$retina-ic-search-d-width: 60px;
$retina-ic-search-d-height: 60px;
$retina-ic-search-d-total-width: 674px;
$retina-ic-search-d-total-height: 652px;
$retina-ic-search-d-image: '~sprite@2x.png';
$retina-ic-search-d: (614px, 124px, -614px, -124px, 60px, 60px, 674px, 652px, '~sprite@2x.png', 'retina_ic_search-d', );
$retina-ic-secure-d-name: 'retina_ic_secure-d';
$retina-ic-secure-d-x: 614px;
$retina-ic-secure-d-y: 514px;
$retina-ic-secure-d-offset-x: -614px;
$retina-ic-secure-d-offset-y: -514px;
$retina-ic-secure-d-width: 42px;
$retina-ic-secure-d-height: 54px;
$retina-ic-secure-d-total-width: 674px;
$retina-ic-secure-d-total-height: 652px;
$retina-ic-secure-d-image: '~sprite@2x.png';
$retina-ic-secure-d: (614px, 514px, -614px, -514px, 42px, 54px, 674px, 652px, '~sprite@2x.png', 'retina_ic_secure-d', );
$retina-ic-secure-m-name: 'retina_ic_secure-m';
$retina-ic-secure-m-x: 544px;
$retina-ic-secure-m-y: 0px;
$retina-ic-secure-m-offset-x: -544px;
$retina-ic-secure-m-offset-y: 0px;
$retina-ic-secure-m-width: 70px;
$retina-ic-secure-m-height: 98px;
$retina-ic-secure-m-total-width: 674px;
$retina-ic-secure-m-total-height: 652px;
$retina-ic-secure-m-image: '~sprite@2x.png';
$retina-ic-secure-m: (544px, 0px, -544px, 0px, 70px, 98px, 674px, 652px, '~sprite@2x.png', 'retina_ic_secure-m', );
$retina-ic-smile-d-name: 'retina_ic_smile-d';
$retina-ic-smile-d-x: 614px;
$retina-ic-smile-d-y: 306px;
$retina-ic-smile-d-offset-x: -614px;
$retina-ic-smile-d-offset-y: -306px;
$retina-ic-smile-d-width: 56px;
$retina-ic-smile-d-height: 56px;
$retina-ic-smile-d-total-width: 674px;
$retina-ic-smile-d-total-height: 652px;
$retina-ic-smile-d-image: '~sprite@2x.png';
$retina-ic-smile-d: (614px, 306px, -614px, -306px, 56px, 56px, 674px, 652px, '~sprite@2x.png', 'retina_ic_smile-d', );
$retina-ic-smile-m-name: 'retina_ic_smile-m';
$retina-ic-smile-m-x: 264px;
$retina-ic-smile-m-y: 168px;
$retina-ic-smile-m-offset-x: -264px;
$retina-ic-smile-m-offset-y: -168px;
$retina-ic-smile-m-width: 96px;
$retina-ic-smile-m-height: 96px;
$retina-ic-smile-m-total-width: 674px;
$retina-ic-smile-m-total-height: 652px;
$retina-ic-smile-m-image: '~sprite@2x.png';
$retina-ic-smile-m: (264px, 168px, -264px, -168px, 96px, 96px, 674px, 652px, '~sprite@2x.png', 'retina_ic_smile-m', );
$retina-ic-user-new-d-name: 'retina_ic_user-new-d';
$retina-ic-user-new-d-x: 434px;
$retina-ic-user-new-d-y: 0px;
$retina-ic-user-new-d-offset-x: -434px;
$retina-ic-user-new-d-offset-y: 0px;
$retina-ic-user-new-d-width: 110px;
$retina-ic-user-new-d-height: 110px;
$retina-ic-user-new-d-total-width: 674px;
$retina-ic-user-new-d-total-height: 652px;
$retina-ic-user-new-d-image: '~sprite@2x.png';
$retina-ic-user-new-d: (434px, 0px, -434px, 0px, 110px, 110px, 674px, 652px, '~sprite@2x.png', 'retina_ic_user-new-d', );
$retina-ic-visa-d-name: 'retina_ic_visa-d';
$retina-ic-visa-d-x: 406px;
$retina-ic-visa-d-y: 382px;
$retina-ic-visa-d-offset-x: -406px;
$retina-ic-visa-d-offset-y: -382px;
$retina-ic-visa-d-width: 118px;
$retina-ic-visa-d-height: 40px;
$retina-ic-visa-d-total-width: 674px;
$retina-ic-visa-d-total-height: 652px;
$retina-ic-visa-d-image: '~sprite@2x.png';
$retina-ic-visa-d: (406px, 382px, -406px, -382px, 118px, 40px, 674px, 652px, '~sprite@2x.png', 'retina_ic_visa-d', );
$retina-label-alterdeco-d-name: 'retina_label_alterdeco-d';
$retina-label-alterdeco-d-x: 0px;
$retina-label-alterdeco-d-y: 78px;
$retina-label-alterdeco-d-offset-x: 0px;
$retina-label-alterdeco-d-offset-y: -78px;
$retina-label-alterdeco-d-width: 240px;
$retina-label-alterdeco-d-height: 90px;
$retina-label-alterdeco-d-total-width: 674px;
$retina-label-alterdeco-d-total-height: 652px;
$retina-label-alterdeco-d-image: '~sprite@2x.png';
$retina-label-alterdeco-d: (0px, 78px, 0px, -78px, 240px, 90px, 674px, 652px, '~sprite@2x.png', 'retina_label_alterdeco-d', );
$retina-label-ecomobilier-d-name: 'retina_label_ecomobilier-d';
$retina-label-ecomobilier-d-x: 0px;
$retina-label-ecomobilier-d-y: 0px;
$retina-label-ecomobilier-d-offset-x: 0px;
$retina-label-ecomobilier-d-offset-y: 0px;
$retina-label-ecomobilier-d-width: 294px;
$retina-label-ecomobilier-d-height: 78px;
$retina-label-ecomobilier-d-total-width: 674px;
$retina-label-ecomobilier-d-total-height: 652px;
$retina-label-ecomobilier-d-image: '~sprite@2x.png';
$retina-label-ecomobilier-d: (0px, 0px, 0px, 0px, 294px, 78px, 674px, 652px, '~sprite@2x.png', 'retina_label_ecomobilier-d', );
$retina-label-f-s-c-d-name: 'retina_label_FSC-d';
$retina-label-f-s-c-d-x: 434px;
$retina-label-f-s-c-d-y: 110px;
$retina-label-f-s-c-d-offset-x: -434px;
$retina-label-f-s-c-d-offset-y: -110px;
$retina-label-f-s-c-d-width: 100px;
$retina-label-f-s-c-d-height: 118px;
$retina-label-f-s-c-d-total-width: 674px;
$retina-label-f-s-c-d-total-height: 652px;
$retina-label-f-s-c-d-image: '~sprite@2x.png';
$retina-label-f-s-c-d: (434px, 110px, -434px, -110px, 100px, 118px, 674px, 652px, '~sprite@2x.png', 'retina_label_FSC-d', );
$retina-label-r-i-k-s-h-d-name: 'retina_label_RIKSH-d';
$retina-label-r-i-k-s-h-d-x: 122px;
$retina-label-r-i-k-s-h-d-y: 264px;
$retina-label-r-i-k-s-h-d-offset-x: -122px;
$retina-label-r-i-k-s-h-d-offset-y: -264px;
$retina-label-r-i-k-s-h-d-width: 112px;
$retina-label-r-i-k-s-h-d-height: 114px;
$retina-label-r-i-k-s-h-d-total-width: 674px;
$retina-label-r-i-k-s-h-d-total-height: 652px;
$retina-label-r-i-k-s-h-d-image: '~sprite@2x.png';
$retina-label-r-i-k-s-h-d: (122px, 264px, -122px, -264px, 112px, 114px, 674px, 652px, '~sprite@2x.png', 'retina_label_RIKSH-d', );
$retina-label-triman-d-name: 'retina_label_triman-d';
$retina-label-triman-d-x: 0px;
$retina-label-triman-d-y: 264px;
$retina-label-triman-d-offset-x: 0px;
$retina-label-triman-d-offset-y: -264px;
$retina-label-triman-d-width: 122px;
$retina-label-triman-d-height: 118px;
$retina-label-triman-d-total-width: 674px;
$retina-label-triman-d-total-height: 652px;
$retina-label-triman-d-image: '~sprite@2x.png';
$retina-label-triman-d: (0px, 264px, 0px, -264px, 122px, 118px, 674px, 652px, '~sprite@2x.png', 'retina_label_triman-d', );
$spritesheet-width: 337px;
$spritesheet-height: 326px;
$spritesheet-image: '~sprite.png';
$spritesheet-sprites: ($bt-fermer-d, $ic-ambiance-d, $ic-cadeau-d, $ic-cadeau-m, $ic-colis-d, $ic-collection-d, $ic-connect-guest-d, $ic-conseils-d, $ic-dimension-d, $ic-ecoresponsable-d, $ic-ecoresponsable-m, $ic-edit-d, $ic-facebook-d, $ic-instagram-d, $ic-livraison-48h-d, $ic-livraison-etage-d, $ic-livraison-europe-d, $ic-livraison-gratuite, $ic-livraison-transporteur-d, $ic-livraison-d, $ic-livraison-m, $ic-mail-d, $ic-mastercard-d, $ic-matiere-d, $ic-nav-ambiances-d, $ic-nav-promo-d, $ic-outils-d, $ic-panier-blanc-d, $ic-panier-d, $ic-panier-white, $ic-paypal-d, $ic-phone-d, $ic-pinterest-d, $ic-planete-d, $ic-poids-d, $ic-poubelle-d, $ic-search-d, $ic-secure-d, $ic-secure-m, $ic-smile-d, $ic-smile-m, $ic-user-new-d, $ic-visa-d, $label-alterdeco-d, $label-ecomobilier-d, $label-f-s-c-d, $label-r-i-k-s-h-d, $label-triman-d, );
$spritesheet: (337px, 326px, '~sprite.png', $spritesheet-sprites, );
$retina-spritesheet-width: 674px;
$retina-spritesheet-height: 652px;
$retina-spritesheet-image: '~sprite@2x.png';
$retina-spritesheet-sprites: ($retina-bt-fermer-d, $retina-ic-ambiance-d, $retina-ic-cadeau-d, $retina-ic-cadeau-m, $retina-ic-colis-d, $retina-ic-collection-d, $retina-ic-connect-guest-d, $retina-ic-conseils-d, $retina-ic-dimension-d, $retina-ic-ecoresponsable-d, $retina-ic-ecoresponsable-m, $retina-ic-edit-d, $retina-ic-facebook-d, $retina-ic-instagram-d, $retina-ic-livraison-48h-d, $retina-ic-livraison-etage-d, $retina-ic-livraison-europe-d, $retina-ic-livraison-gratuite, $retina-ic-livraison-transporteur-d, $retina-ic-livraison-d, $retina-ic-livraison-m, $retina-ic-mail-d, $retina-ic-mastercard-d, $retina-ic-matiere-d, $retina-ic-nav-ambiances-d, $retina-ic-nav-promo-d, $retina-ic-outils-d, $retina-ic-panier-blanc-d, $retina-ic-panier-d, $retina-ic-panier-white, $retina-ic-paypal-d, $retina-ic-phone-d, $retina-ic-pinterest-d, $retina-ic-planete-d, $retina-ic-poids-d, $retina-ic-poubelle-d, $retina-ic-search-d, $retina-ic-secure-d, $retina-ic-secure-m, $retina-ic-smile-d, $retina-ic-smile-m, $retina-ic-user-new-d, $retina-ic-visa-d, $retina-label-alterdeco-d, $retina-label-ecomobilier-d, $retina-label-f-s-c-d, $retina-label-r-i-k-s-h-d, $retina-label-triman-d, );
$retina-spritesheet: (674px, 652px, '~sprite@2x.png', $retina-spritesheet-sprites, );

// These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.
//
// The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
$bt-fermer-d-group-name: 'bt-fermer-d';
$bt-fermer-d-group: ('bt-fermer-d', $bt-fermer-d, $retina-bt-fermer-d, );
$ic-ambiance-d-group-name: 'ic_ambiance-d';
$ic-ambiance-d-group: ('ic_ambiance-d', $ic-ambiance-d, $retina-ic-ambiance-d, );
$ic-cadeau-d-group-name: 'ic_cadeau-d';
$ic-cadeau-d-group: ('ic_cadeau-d', $ic-cadeau-d, $retina-ic-cadeau-d, );
$ic-cadeau-m-group-name: 'ic_cadeau-m';
$ic-cadeau-m-group: ('ic_cadeau-m', $ic-cadeau-m, $retina-ic-cadeau-m, );
$ic-colis-d-group-name: 'ic_colis-d';
$ic-colis-d-group: ('ic_colis-d', $ic-colis-d, $retina-ic-colis-d, );
$ic-collection-d-group-name: 'ic_collection-d';
$ic-collection-d-group: ('ic_collection-d', $ic-collection-d, $retina-ic-collection-d, );
$ic-connect-guest-d-group-name: 'ic_connect-guest-d';
$ic-connect-guest-d-group: ('ic_connect-guest-d', $ic-connect-guest-d, $retina-ic-connect-guest-d, );
$ic-conseils-d-group-name: 'ic_conseils-d';
$ic-conseils-d-group: ('ic_conseils-d', $ic-conseils-d, $retina-ic-conseils-d, );
$ic-dimension-d-group-name: 'ic_dimension-d';
$ic-dimension-d-group: ('ic_dimension-d', $ic-dimension-d, $retina-ic-dimension-d, );
$ic-ecoresponsable-d-group-name: 'ic_ecoresponsable-d';
$ic-ecoresponsable-d-group: ('ic_ecoresponsable-d', $ic-ecoresponsable-d, $retina-ic-ecoresponsable-d, );
$ic-ecoresponsable-m-group-name: 'ic_ecoresponsable-m';
$ic-ecoresponsable-m-group: ('ic_ecoresponsable-m', $ic-ecoresponsable-m, $retina-ic-ecoresponsable-m, );
$ic-edit-d-group-name: 'ic_edit-d';
$ic-edit-d-group: ('ic_edit-d', $ic-edit-d, $retina-ic-edit-d, );
$ic-facebook-d-group-name: 'ic_facebook-d';
$ic-facebook-d-group: ('ic_facebook-d', $ic-facebook-d, $retina-ic-facebook-d, );
$ic-instagram-d-group-name: 'ic_instagram-d';
$ic-instagram-d-group: ('ic_instagram-d', $ic-instagram-d, $retina-ic-instagram-d, );
$ic-livraison-48h-d-group-name: 'ic_livraison_48h-d';
$ic-livraison-48h-d-group: ('ic_livraison_48h-d', $ic-livraison-48h-d, $retina-ic-livraison-48h-d, );
$ic-livraison-etage-d-group-name: 'ic_livraison_etage-d';
$ic-livraison-etage-d-group: ('ic_livraison_etage-d', $ic-livraison-etage-d, $retina-ic-livraison-etage-d, );
$ic-livraison-europe-d-group-name: 'ic_livraison_europe-d';
$ic-livraison-europe-d-group: ('ic_livraison_europe-d', $ic-livraison-europe-d, $retina-ic-livraison-europe-d, );
$ic-livraison-gratuite-group-name: 'ic_livraison_gratuite';
$ic-livraison-gratuite-group: ('ic_livraison_gratuite', $ic-livraison-gratuite, $retina-ic-livraison-gratuite, );
$ic-livraison-transporteur-d-group-name: 'ic_livraison_transporteur-d';
$ic-livraison-transporteur-d-group: ('ic_livraison_transporteur-d', $ic-livraison-transporteur-d, $retina-ic-livraison-transporteur-d, );
$ic-livraison-d-group-name: 'ic_livraison-d';
$ic-livraison-d-group: ('ic_livraison-d', $ic-livraison-d, $retina-ic-livraison-d, );
$ic-livraison-m-group-name: 'ic_livraison-m';
$ic-livraison-m-group: ('ic_livraison-m', $ic-livraison-m, $retina-ic-livraison-m, );
$ic-mail-d-group-name: 'ic_mail-d';
$ic-mail-d-group: ('ic_mail-d', $ic-mail-d, $retina-ic-mail-d, );
$ic-mastercard-d-group-name: 'ic_mastercard-d';
$ic-mastercard-d-group: ('ic_mastercard-d', $ic-mastercard-d, $retina-ic-mastercard-d, );
$ic-matiere-d-group-name: 'ic_matiere-d';
$ic-matiere-d-group: ('ic_matiere-d', $ic-matiere-d, $retina-ic-matiere-d, );
$ic-nav-ambiances-d-group-name: 'ic_nav_ambiances-d';
$ic-nav-ambiances-d-group: ('ic_nav_ambiances-d', $ic-nav-ambiances-d, $retina-ic-nav-ambiances-d, );
$ic-nav-promo-d-group-name: 'ic_nav_promo-d';
$ic-nav-promo-d-group: ('ic_nav_promo-d', $ic-nav-promo-d, $retina-ic-nav-promo-d, );
$ic-outils-d-group-name: 'ic_outils-d';
$ic-outils-d-group: ('ic_outils-d', $ic-outils-d, $retina-ic-outils-d, );
$ic-panier-blanc-d-group-name: 'ic_panier-blanc-d';
$ic-panier-blanc-d-group: ('ic_panier-blanc-d', $ic-panier-blanc-d, $retina-ic-panier-blanc-d, );
$ic-panier-d-group-name: 'ic_panier-d';
$ic-panier-d-group: ('ic_panier-d', $ic-panier-d, $retina-ic-panier-d, );
$ic-panier-white-group-name: 'ic_panier-white';
$ic-panier-white-group: ('ic_panier-white', $ic-panier-white, $retina-ic-panier-white, );
$ic-paypal-d-group-name: 'ic_paypal-d';
$ic-paypal-d-group: ('ic_paypal-d', $ic-paypal-d, $retina-ic-paypal-d, );
$ic-phone-d-group-name: 'ic_phone-d';
$ic-phone-d-group: ('ic_phone-d', $ic-phone-d, $retina-ic-phone-d, );
$ic-pinterest-d-group-name: 'ic_pinterest-d';
$ic-pinterest-d-group: ('ic_pinterest-d', $ic-pinterest-d, $retina-ic-pinterest-d, );
$ic-planete-d-group-name: 'ic_planete-d';
$ic-planete-d-group: ('ic_planete-d', $ic-planete-d, $retina-ic-planete-d, );
$ic-poids-d-group-name: 'ic_poids-d';
$ic-poids-d-group: ('ic_poids-d', $ic-poids-d, $retina-ic-poids-d, );
$ic-poubelle-d-group-name: 'ic_poubelle-d';
$ic-poubelle-d-group: ('ic_poubelle-d', $ic-poubelle-d, $retina-ic-poubelle-d, );
$ic-search-d-group-name: 'ic_search-d';
$ic-search-d-group: ('ic_search-d', $ic-search-d, $retina-ic-search-d, );
$ic-secure-d-group-name: 'ic_secure-d';
$ic-secure-d-group: ('ic_secure-d', $ic-secure-d, $retina-ic-secure-d, );
$ic-secure-m-group-name: 'ic_secure-m';
$ic-secure-m-group: ('ic_secure-m', $ic-secure-m, $retina-ic-secure-m, );
$ic-smile-d-group-name: 'ic_smile-d';
$ic-smile-d-group: ('ic_smile-d', $ic-smile-d, $retina-ic-smile-d, );
$ic-smile-m-group-name: 'ic_smile-m';
$ic-smile-m-group: ('ic_smile-m', $ic-smile-m, $retina-ic-smile-m, );
$ic-user-new-d-group-name: 'ic_user-new-d';
$ic-user-new-d-group: ('ic_user-new-d', $ic-user-new-d, $retina-ic-user-new-d, );
$ic-visa-d-group-name: 'ic_visa-d';
$ic-visa-d-group: ('ic_visa-d', $ic-visa-d, $retina-ic-visa-d, );
$label-alterdeco-d-group-name: 'label_alterdeco-d';
$label-alterdeco-d-group: ('label_alterdeco-d', $label-alterdeco-d, $retina-label-alterdeco-d, );
$label-ecomobilier-d-group-name: 'label_ecomobilier-d';
$label-ecomobilier-d-group: ('label_ecomobilier-d', $label-ecomobilier-d, $retina-label-ecomobilier-d, );
$label-f-s-c-d-group-name: 'label_FSC-d';
$label-f-s-c-d-group: ('label_FSC-d', $label-f-s-c-d, $retina-label-f-s-c-d, );
$label-r-i-k-s-h-d-group-name: 'label_RIKSH-d';
$label-r-i-k-s-h-d-group: ('label_RIKSH-d', $label-r-i-k-s-h-d, $retina-label-r-i-k-s-h-d, );
$label-triman-d-group-name: 'label_triman-d';
$label-triman-d-group: ('label_triman-d', $label-triman-d, $retina-label-triman-d, );
$retina-groups: ($bt-fermer-d-group, $ic-ambiance-d-group, $ic-cadeau-d-group, $ic-cadeau-m-group, $ic-colis-d-group, $ic-collection-d-group, $ic-connect-guest-d-group, $ic-conseils-d-group, $ic-dimension-d-group, $ic-ecoresponsable-d-group, $ic-ecoresponsable-m-group, $ic-edit-d-group, $ic-facebook-d-group, $ic-instagram-d-group, $ic-livraison-48h-d-group, $ic-livraison-etage-d-group, $ic-livraison-europe-d-group, $ic-livraison-gratuite-group, $ic-livraison-transporteur-d-group, $ic-livraison-d-group, $ic-livraison-m-group, $ic-mail-d-group, $ic-mastercard-d-group, $ic-matiere-d-group, $ic-nav-ambiances-d-group, $ic-nav-promo-d-group, $ic-outils-d-group, $ic-panier-blanc-d-group, $ic-panier-d-group, $ic-panier-white-group, $ic-paypal-d-group, $ic-phone-d-group, $ic-pinterest-d-group, $ic-planete-d-group, $ic-poids-d-group, $ic-poubelle-d-group, $ic-search-d-group, $ic-secure-d-group, $ic-secure-m-group, $ic-smile-d-group, $ic-smile-m-group, $ic-user-new-d-group, $ic-visa-d-group, $label-alterdeco-d-group, $label-ecomobilier-d-group, $label-f-s-c-d-group, $label-r-i-k-s-h-d-group, $label-triman-d-group, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
//   It should be used with a "retina group" variable.
//
// The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/
//
// $icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );
//
// .icon-home {
//   @include retina-sprite($icon-home-group);
// }
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

// The `retina-sprites` mixin generates a CSS rule and media query for retina groups
//   This yields the same output as CSS retina template but can be overridden in SCSS
//
// @include retina-sprites($retina-groups);
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
