@import "sprite";
@import "fonts";

body {
  font-family: 'Roboto';
  background: url('../images/img-chat-example.jpg');
  transform: translateX(105px);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

button {
  max-height: 500px;
  color: black;
}
